<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Select Customer Type</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-6 text-center">
        <button routerLink="/customer/new/commercial" type="button" class="btn btn-primary btn-lg">Commercial</button>
      </div>
      <div class="col-6 text-center">
        <button routerLink="/customer/new/personal" type="button" class="btn btn-info btn-lg">Personal</button>
      </div>
    </div>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
  </div>
</ng-template>


<p>
  customers works!
</p>
<div class="row">
  <div class="col-10">
    <div class="form-group">
      <input (keyup)="onCustomerKeyUp($event)" type="text" class="form-control" id="search-customers"  placeholder="Search Name Customer">
    </div>
  </div>
  <div class="col-2">
    <button type="button" class="btn btn-success" (click)="openModal(content)">Add User</button>


  </div>
</div>



<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Full Name</th>
    <th scope="col">Type</th>
    <th scope="col">Role</th>
    <th scope="col">Options</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let customer of customers; let i = index" [attr.data-index]="i">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ customer.FullName}}</td>
    <td>{{ customer.CustomerTypeName}}</td>
    <td>{{ customer.RoleDescription}}</td>
    <td>Edit</td>
  </tr>
  </tbody>
</table>
